{% trans_default_domain 'FOSUserBundle' %}


{% import 'macro/fos_form_row.html.twig' as macro  %}

<div class="col-lg-12">

    {{ form_start(
        form,
        {
            'method': 'post',
            'action': path('fos_user_change_password'),
            'attr': {'class': 'fos_user_change_password needs-validation', 'novalidate': 'novalidate'}
        }
    )  }}

    {{ macro.print_fos_register_form_row(form.current_password) }}
    {{ macro.print_fos_register_form_row(form.plainPassword.first) }}
    {{ macro.print_fos_register_form_row(form.plainPassword.second) }}


    <div>
        <input class="btn btn-primary btn-block" formnovalidate type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>

    {{ form_end(form) }}

</div>