<!doctype html>

{% set locale = app.session.get("_locale") %}

{% set route_name = app.request.attributes.get("_route") %}

{% if route_name == "home_ru" %}

    {% set current_locale = "ru" %}
    {% set next_locale = "en" %}
    {% set locale_path = path('home_en', {'_locale': 'en'}) %}
    {% set home_route_name = path(route_name) %}

{% elseif app.request.attributes.get("_route") == "home_en" %}

    {% set current_locale = "en" %}
    {% set next_locale = "ru" %}
    {% set locale_path = path('home_ru') %}
    {% set home_route_name = path(route_name) %}

{% elseif route_name == "fos_user_resetting_reset" %}

    {% set current_locale = app.request.locale %}

    {% if current_locale == 'ru' %}

        {% set next_locale = "en" %}
        {% set locale_path = path("home_en", {"_locale": 'en'}) %}
        {% set home_route_name = path('home_ru') %}

    {% else %}

        {% set next_locale = "ru" %}
        {% set locale_path = path("home_ru") %}
        {% set home_route_name = path('home_en') %}

    {% endif %}

{% else %}

    {% set current_locale = app.request.locale %}

    {% if current_locale == 'ru' %}

        {% set next_locale = "en" %}
        {% set locale_path = path(route_name, {"_locale": 'en'}) %}
        {% set home_route_name = path('home_ru') %}

    {% else %}

        {% set next_locale = "ru" %}
        {% set locale_path = path(route_name, {"_locale": 'ru'}) %}
        {% set home_route_name = path('home_en') %}

    {% endif %}

{% endif %}

<html lang="en">
<head>
    <title>{% block title %}Welcome to my site{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style_1.css') }}">

    {% endblock %}
</head>
<body>

<div class="container-fluid fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded ">
        <a class="navbar-brand" href="{{ home_route_name }}">
            <img src="{{ asset('images/icon_yellow.png') }}"  alt="icon" width="40px" height="40px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-start" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ home_route_name }}">{% trans %}Navbar.homeLink{% endtrans %} <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans %}Navbar.kingOfTheHill{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("comments_list") }}">{% trans %}Navbar.comments{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans %}Navbar.contact us{% endtrans %}</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    {#{% if is_granted('ROLE_USER') %}
                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}">{% trans %} Navbar.logoutLink {% endtrans %}</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">{% trans %} Navbar.loginLink {% endtrans %}</a>
                    {% endif %}#}

                    {% if is_granted('ROLE_USER') %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.username }}
                        </a>
                        <div class="dropdown-menu bg-dark " aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item text-light" href="{{ path('fos_user_profile_show') }}">{{ 'Navbar.profileLink'|trans  }}</a>
                            <a class="dropdown-item text-light" href="{{ path('fos_user_security_logout') }}">{{ 'Navbar.logoutLink'|trans  }}</a>
                        </div>
                    {% else %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'Navbar.accountLink'|trans }}
                        </a>
                        <div class="dropdown-menu bg-dark text-center " aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item text-light" href="{{ path('fos_user_security_login') }}">{{ 'Navbar.loginLink'|trans }}</a>
                            <a class="dropdown-item text-light" href="{{ path('fos_user_registration_register') }}">{{ 'Navbar.registerLink'|trans  }}</a>
                            <a class="dropdown-item text-light" href="{{ path('fos_user_resetting_request') }}">{{ 'Navbar.forgetpassLink'|trans  }}</a>
                        </div>
                    {% endif %}
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       {{ current_locale }}
                    </a>
                    <div class="dropdown-menu bg-dark " aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item text-light" href="{{ locale_path }}">{{ next_locale }}</a>
                    </div>
                </li>


            </ul>

        </div>
    </nav>
</div>


<div class="container rounded" id="wrapper" >

    <div class="row">
        <div class="col-lg-12">
            {% for msg in app.session.flashBag.get('success')  %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {%  endfor %}
        </div>

        {% block body %}{% endblock %}
    </div>

</div>
<div class="container ">
    <footer class="blockquote-footer w-50 m-auto text-dark text-center pt-3">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</div>


{% block javascripts %}

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ asset('js/main_1.js') }}"></script>


{% endblock %}
</body>
</html>
