{% extends './base.html.twig' %}


{% block title %}{% trans %}Comments.pageTitle{% endtrans %}{% endblock title %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

{% endblock stylesheets %}

{% block body %}

    <div id="comments" class="col-lg-12 pt-4"></div>

{% endblock body %}

{% block javascripts %}

    {% if is_granted('ROLE_USER') %}

        {% set granted = 'yes' %}

    {% else %}

        {% set granted = 'no' %}

    {% endif %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/Comments/View/RenderComment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Comments/Model/CommentModel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Comments/View/CommentView.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/Comments/Controller/CommentController.js') }}"></script>

    <script type="text/javascript">

        const config =
            {

                granted: "{{ granted }}",

                mainDivId: '#comments',
                list_comment_url: "{{ path("comments_list") }}",
                child_comments_url: "{{ path('child_comments') }}",
                more_child_comments_url: "{{ path('more_child_comments') }}",
                post_comment_url: "{{ path('post_comment') }}",
                register_url: "{{ path('fos_user_registration_register') }}",
                login_url: "{{ path('fos_user_security_login') }}",


                renderConfig: {

                    numberOfShownChildComments: 2,
                    showMoreCommentsButtonTitle: "{% trans %}Comments.showMoreCommentsButtonTitle{% endtrans %}",
                    showAnswerCommentsButtonTitle: "{% trans %}Comments.showAnswerCommentsButtonTitle{% endtrans %}",
                    hideAnswerCommentsButtonTitle: "{% trans %}Comments.hideAnswerCommentsButtonTitle{% endtrans %}",
                    sendButtonValue: "{% trans %}Comments.sendButtonValue{% endtrans %}",
                    replyButtonValue: "{% trans %}Comments.replyButtonValue{% endtrans %}",
                    replyFormPlaceholder: "{% trans %}Comments.replyFormPlaceholder{% endtrans %}",
                    registerLinkTitle: "{% trans %}Comments.registerLinkTitle{% endtrans %}",
                    loginLinkTitle: "{% trans %}Comments.loginLinkTitle{% endtrans %}",
                    toCommentText: "{% trans %}Comments.toCommentText{% endtrans %}"

                }

            };


        const commentCtrl = new CommentController(new CommentModel(), new CommentView(), config);

        commentCtrl.list_all();



    </script>


{% endblock javascripts %}


